<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Force based label placement</title>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.6.0"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.6.0"></script>
</head>
<body>
  {{{body}}}
</body>
</html>