<!DOCTYPE html>


<meta charset="utf-8">

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    link(href='tabStyles.css', rel='stylesheet', type='text/css')
    <script type="text/javascript">
        //<![CDATA[

        var tabLinks = new Array();
        var contentDivs = new Array();

        function init() {

            // Grab the tab links and content divs from the page
            var tabListItems = document.getElementById('tabs').childNodes;
            for ( var i = 0; i < tabListItems.length; i++ ) {
                if ( tabListItems[i].nodeName == "LI" ) {
                    var tabLink = getFirstChildWithTagName( tabListItems[i], 'A' );
                    var id = getHash( tabLink.getAttribute('href') );
                    tabLinks[id] = tabLink;
                    contentDivs[id] = document.getElementById( id );
                }
            }

            // Assign onclick events to the tab links, and
            // highlight the first tab
            var i = 0;

            for ( var id in tabLinks ) {
                tabLinks[id].onclick = showTab;
                tabLinks[id].onfocus = function() { this.blur() };
                if ( i == 0 ) tabLinks[id].className = 'selected';
                i++;
            }

            // Hide all content divs except the first
            var i = 0;

            for ( var id in contentDivs ) {
                if ( i != 0 ) contentDivs[id].className = 'tabContent hide';
                i++;
            }
        }

        function showTab() {
            var selectedId = getHash( this.getAttribute('href') );

            // Highlight the selected tab, and dim all others.
            // Also show the selected content div, and hide all others.
            for ( var id in contentDivs ) {
                if ( id == selectedId ) {
                    tabLinks[id].className = 'selected';
                    contentDivs[id].className = 'tabContent';
                } else {
                    tabLinks[id].className = '';
                    contentDivs[id].className = 'tabContent hide';
                }
            }

            // Stop the browser following the link
            return false;
        }

        function getFirstChildWithTagName( element, tagName ) {
            for ( var i = 0; i < element.childNodes.length; i++ ) {
                if ( element.childNodes[i].nodeName == tagName ) return element.childNodes[i];
            }
        }

        function getHash( url ) {
            var hashPos = url.lastIndexOf ( '#' );
            return url.substring( hashPos + 1 );
        }

        //]]>
    </script>
</head>
<body onload="init()">
<h1>Cancer Database Name</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id metus eu magna aliquet dictum at non odio.
    Duis consequat tincidunt orci maximus commodo. Nulla sed sem a sem viverra mollis vel ac dolor. Quisque quis
    tortor nulla. Suspendisse nec felis dapibus, lacinia ligula ac, pretium enim. Nulla id nisi vitae ipsum efficitur
    pharetra. Phasellus ultrices lorem vitae leo dapibus ullamcorper. Proin laoreet ante a tempus aliquam. Nulla tortor
    arcu, aliquam eget vehicula sit amet, viverra vestibulum lectus. Morbi fermentum sapien sed imperdiet pulvinar. Sed
    pharetra at sapien id hendrerit.
    <br><br/>
    Nullam facilisis mi fringilla tortor pulvinar ultrices. Donec sit amet porta dui.
    Mauris facilisis nulla nec sem sodales tempus. Donec efficitur nulla quis urna laoreet,
    eu ornare ex accumsan. Suspendisse condimentum quam sed sapien consequat, sit amet volutpat leo semper.
    Integer et odio sed nisi tristique ornare non quis ligula. Cras cursus, purus quis pulvinar molestie, neque dui
    commodo enim, vitae laoreet ex orci quis massa. Donec pellentesque nibh non efficitur pretium. Pellentesque ut euismod
    tortor, vel porta ex. Phasellus ac purus ornare, fermentum eros a, sagittis augue. Quisque sit amet euismod quam, quis
    venenatis sem. Quisque non enim nec ante rutrum semper at at orci.</p>
<ul id="tabs">
    <li><a href="#search">Search</a></li>
    <li><a href="#analysis">Analysis</a></li>
    <li><a href="#more">More</a></li>
</ul>
<div class="tabContent" id="search">
    <h2>Search</h2>
    <div>

        <body>
        <script src="http://www.d3plus.org/js/d3.js"></script>
        <script src="http://www.d3plus.org/js/d3plus.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>

        <style>
            svg {
                font-family: "Helvetica", "Arial", sans-serif;
                height: 425px;
                margin: 25px;
                width: 900px;
            }
            .type {
                fill: #888;
                text-anchor: middle;
            }
            .shape {
                fill: #eee;
                stroke: #ccc;
            }
        </style>

        <svg>

            <circle class="shape" r="75px" cx="75px" cy="300px"></circle>
            <text id="circleResize" class="wrap" y="225px" x="0px" font-size="12">
                {{city.Name}}
            </text>

            <circle class="shape" r="75px" cx="475px" cy="300px"></circle>
            <text id="circleResize2" class="wrap" y="225px" x="400px" font-size="12">
                {{city.District}}
            </text>

            <line x1="150" y1="300" x2="400" y2="300" stroke="gray" stroke-width="5"  />

            <DIV style="position: absolute; top:700px; left:300px; width:200px; height:25px">
                {{city.Population}}
            </DIV>

        </svg>


        <script>

            // Wrap text in a circle, and size the text to fit.
            d3plus.textwrap()
                    .container(d3.select("#circleResize"))
                    .resize(true)
                    .draw();
            d3plus.textwrap()
                    .container(d3.select("#circleResize2"))
                    .resize(true)
                    .draw();

        </script>

        </body>

    </div>
</div>
<div class="tabContent" id="analysis">
    <h2>Analysis</h2>
    <div>
        <p>This is the analysis tab.</p>
    </div>
</div>
<div class="tabContent" id="More">
    <h2>More</h2>
    <div>
        <p>This is another tab.</p>
    </div>
</div>
</body>
</html>

